.container{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 1000px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.box{
    height:100px;
    width:100px;
   
}
.first{
    background-color: red;
   /* flex-grow: 1; */
     /* flex:4 9 200px; */
     align-self: flex-start;
}
.second{
    background-color: green;
    /* flex-grow: 2; */
    /* flex-basis: 200px; */
}
.third{
    background-color: blue;
    /* flex-grow: 3; */
}
.fourth{
    background-color: violet;
}